.pageContainer {
    position: relative;
}

.introContainer {
    position: absolute;
}

.tableContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.tableContainer h1 {
    text-align: center;
}