/* ServiceTable.css */

.service-table {
    border-collapse: collapse;
    width: 100%;
    /* margin: auto; */
  }
  
  .service-table th, .service-table td {
    border: 1px solid #ddd;
    border: 1px solid var(--brand-color);
    padding: 6px;
    /* text-align: center; */
    font-size: 0.9rem;
  }
  
  .service-table th {
    background-color: var(--brand-color);
    color: #fff;
    padding: 1rem 0;
    font-size: 14px; 
  }
  
  /* .service-table td div {
    font-weight: bold;
  }
   */
  

  .bold {
    font-weight: bold;
  }
  
  .sunday-row {
    background-color: #ebfcfc;
  }